<div class="panel callout radius" ng-repeat="topic in topics">
    <div class="row topic">
        <div class="small-1 large-1 columns">
            <img src="{{ topic.user.data.avatar }}" class="avatar" />
        </div>
        <div class="small-11 large-11 columns">
            <h5 class="subject">
                <a href="/topic/show/{{ topic.id }}">{{ topic.subject }}</a>
            </h5>
            <div class="status">
                <i class="fa fa-university"></i> {{ topic.status }}
                &nbsp;
                <i class="fa fa-user"></i> {{ topic.user.data.username }}
                &nbsp;
                <i class="fa fa-clock-o"></i> {{ topic.created_at }}
            </div>
        </div>
    </div>
</div>

<div class="panel callout radius">
    <a href="#" class="button expand">- Load more -</a>
</div>
