<div class="panel">
    <h4>Sign in</h4>
    <hr>
    <form>
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Username
                    <input type="text" placeholder="Username" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Email
                    <input type="text" placeholder="Email" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Password
                    <input type="text" placeholder="Password" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Confirm Password
                    <input type="text" placeholder="Confirm Password" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <a href="#" class="button tiny">Submit</a>
            </div>
        </div>
    </form>
</div>
