<div class="panel callout radius">
    <div class="row topic">
        <div class="small-12 medium-1 large-1 columns hide-for-small-only">
            <img src="http://placehold.it/48x48/59D/FFF&text=A" class="avatar" />
        </div>
        <div class="small-12 medium-11 large-11 columns">
            <h5 class="subject">
                <a href="/topic/1">Somthing like that</a>
            </h5>
            <div class="status">
                <i class="fa fa-university"></i> Open
                &nbsp;
                <i class="fa fa-user"></i> Nobody
                &nbsp;
                <i class="fa fa-clock-o"></i> 12 hours ago
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">
            <hr>
            <p>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            </p>
            <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">
            <a href="#" class="button tiny success reset-button-margin">Share To</a>
            <a href="#" class="button tiny reset-button-margin">Facebook</a>
            <a href="#" class="button tiny reset-button-margin">Twitter</a>
        </div>
    </div>
</div>

<div class="panel callout radius">
    <div class="row comment">
        <div class="small-12 medium-1 large-1 columns hide-for-small-only">
            <img src="http://placehold.it/48x48/59D/FFF&text=A" class="avatar" />
        </div>
        <div class="small-12 medium-11 large-11 columns">
            <div class="panel block">
                <div class="block-head">
                    <span class="username">Username</span>
                    <span class="post-at">Post At</span>
                    <span class="time">12 hours ago</span>
                </div>
                <div class="block-body">
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel callout radius">
    <div class="panel post-comemnt">
        <span class="alert">Leave Comment? Please <a href="/signin">sign in</a> first.</span>
    </div>
    <a href="#" class="button tiny success reset-button-margin">Sign in</a>
</div>

<div class="panel callout radius">
    <textarea name="comment" rows="5"></textarea>
    <a href="#" class="button tiny success reset-button-margin">Post comment</a>
</div>
