<div class="panel callout radius">
    <div class="row topic">
        <div class="small-12 medium-1 large-1 columns hide-for-small-only">
            <img ng-src="{{ topic.user.data.avatar }}" class="avatar" />
        </div>
        <div class="small-12 medium-11 large-11 columns">
            <h5 class="subject">
                <a href="/topic/{{ topic.id }}">{{ topic.subject }}</a>
            </h5>
            <div class="status">
                <i class="fa fa-university"></i> {{ topic.status }}
                &nbsp;
                <i class="fa fa-user"></i> {{ topic.user.data.username }}
                &nbsp;
                <i class="fa fa-clock-o"></i> <span am-time-ago="topic.created_at"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">
            <hr>
            <p>{{ topic.content }}</p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">
            <a href="#" class="button tiny success reset-button-margin">Share To</a>
            <a href="#" class="button tiny reset-button-margin">Facebook</a>
            <a href="#" class="button tiny reset-button-margin">Twitter</a>
        </div>
    </div>
</div>

<div class="panel callout radius">
    <div class="row comment" ng-repeat="comment in comments">
        <div class="small-12 medium-1 large-1 columns hide-for-small-only">
            <img ng-src="{{ comment.user.data.avatar }}" class="avatar" />
        </div>
        <div class="small-12 medium-11 large-11 columns">
            <div class="panel block">
                <div class="block-head">
                    <span class="username">{{ comment.user.data.username }}</span>
                    <span class="post-at">Post At</span>
                    <span class="time" am-time-ago="comment.created_at"></span>
                </div>
                <div class="block-body">
                    {{ comment.content }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel callout radius" ng-if="!global.isSignIn">
    <div class="panel post-comemnt">
        <span class="alert">Leave Comment? Please <a href="/signin">sign in</a> first.</span>
    </div>
    <a href="/signin" class="button tiny success reset-button-margin">Sign in</a>
</div>

<div class="panel callout radius" ng-if="global.isSignIn">
    <form>
        <div class="row">
            <div class="large-12 columns">
                <label>
                    <textarea name="comment" rows="5" ng-model="comment.content" dense-tooltip="validateTooltip" error-required="Please enter your comment content" required></textarea>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <a href="#" class="button tiny success reset-button-margin" ng-click="submitComment()">Post comment</a>
            </div>
        </div>
    </form>
</div>
