<!doctype html>
<html class="no-js" lang="en" ng-app='denseApp'>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<base href="/">
<title>Dense</title>
<!-- build:css asset/css/application.css -->
<link rel="stylesheet" href="asset/vendor/foundation/css/normalize.css" />
<link rel="stylesheet" href="asset/vendor/foundation/css/foundation.min.css" />
<link rel="stylesheet" href="asset/vendor/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="asset/vendor/toastr/toastr.min.css" />
<link rel="stylesheet" href="asset/client/css/application.css" />
<!-- endbuild -->
</head>
<body>
<div class="contain-to-grid blue">
    <nav class="top-bar foundation-bar blue-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">Dense</a></h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#"><span>Menu</span></a>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="left">
                <li><a href="/">Home</a></li>
                <li ng-if="global.isSignIn"><a href="/topic/create">Create Topic</a></li>
                <li ng-if="global.isSignIn"><a ng-click="signout()">Sign out</a></li>
                <li ng-if="!global.isSignIn"><a href="/signin">Sign in</a></li>
                <li ng-if="!global.isSignIn"><a href="/signup">Sign up</a></li>
            </ul>
            <ul class="right">
                <li class="has-form">
                    <div class="row collapse">
                        <div class="large-8 small-9 columns">
                            <input type="text" placeholder="Search article">
                        </div>
                        <div class="large-4 small-3 columns">
                            <a href="#" class="button expand">Search</a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </nav>
</div>

<div class="row">
    <div class="large-12 columns">
        <br>
        <ng-view />
    </div>
</div>
<!-- build:js asset/js/application.js -->
<script src="asset/vendor/foundation/js/vendor/modernizr.js"></script>
<script src="asset/vendor/foundation/js/vendor/jquery.js"></script>
<script src="asset/vendor/angular/angular.min.js"></script>
<script src="asset/vendor/angular/angular-route.min.js"></script>
<script src="asset/vendor/angular/angular-resource.min.js"></script>
<script src="asset/vendor/angular-ui-utils/validate.js"></script>
<script src="asset/vendor/foundation/js/foundation.min.js"></script>
<script src="asset/vendor/foundation/js/foundation/foundation.topbar.js"></script>
<script src="asset/vendor/toastr/toastr.min.js"></script>
<script src="asset/vendor/utf8/utf8.js"></script>
<script src="asset/vendor/jsonkit/jsonkit.js"></script>
<script src="asset/client/js/application.js"></script>
<script src="asset/client/js/routes.js"></script>
<script src="asset/client/js/controllers.js"></script>
<script src="asset/client/js/filters.js"></script>
<script src="asset/client/js/services.js"></script>
<script src="asset/client/js/directives.js"></script>
<!-- endbuild -->
</body>
</html>
