<div class="panel callout radius text-center" ng-show="topics.length <= 0">
    Dense has no topic during this period. Would you like to create it ?
</div>

<div class="panel callout radius" ng-repeat="topic in topics" ng-show="topics.length > 0">
    <div class="row topic">
        <div class="small-1 large-1 columns">
            <img ng-src="{{ topic.user.data.avatar }}" class="avatar" />
        </div>
        <div class="small-11 large-11 columns">
            <h5 class="subject">
                <a href="/topic/show/{{ topic.id }}">{{ topic.subject }}</a>
            </h5>
            <div class="status">
                <i class="fa fa-university"></i> {{ topic.status }}
                &nbsp;
                <i class="fa fa-user"></i> {{ topic.user.data.username }}
                &nbsp;
                <i class="fa fa-clock-o"></i> <span am-time-ago="topic.created_at"></span>
            </div>
        </div>
    </div>
</div>

<load-more current-page="{{ pagination.current_page }}" total-page="{{ pagination.total_pages }}" action="latest" ng-click="nextPage()" ng-disabled="pagination.current_page == pagination.total_pages" ng-show="topics.length > 0" />
