<div class="panel">
    <h4>Sign in</h4>
    <hr>
    <form>
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Account
                    <input type="text" placeholder="Account" ng-model="user.account" dense-tooltip="validateTooltip" error-required="Please enter your account (email or username)" required />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Password
                    <input type="password" placeholder="Password" ng-model="user.password" dense-tooltip="validateTooltip" error-required="Please enter password" required />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <a href="#" class="button tiny" ng-click="submit()">Submit</a>
            </div>
        </div>
    </form>
</div>
